<main>
  <section>
    <div class="container py-5">
      <h2><%= current_user.admin? ? "Toutes les demandes de réservation" : "Mes demandes de réservation" %></h2>
      <div>
      <% @bookings.each do |booking| %>
        <div>
        <h3><%= booking.car.model %></h3>
          <div >
          <p><%= booking.car.brand %></p>
          <p><b>€<%= display_total_price(booking) %></b></p>
          </div>
        <p class="fsize4"><%= "From #{booking.start_date.strftime("%A %e %B %Y")}" %><%= "To #{booking.end_date.strftime("%A %e %B %Y")}" %></p>
          <% if policy(booking).show? %>
            <%= link_to 'Voir la réservation', booking_path(booking), method: :show, class: 'btn btn-danger' %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </section>
</main>
