
<div class="cars_index">
  <h2>Nos voitures</h2>
</div>

<div class="cards-cars">
  <% @cars.each do |car| %>
    <div class="card-car">
      <%#  image %>
      <div class="card-car-info">
        <h2><%= car.model %></h2>
          <h5><%= car.brand %></h5>
          <h5><%= car.year_of_production %></h5>
          <h5><b>$<%= car.price_per_day %></b> /jours</h5>
      </div>
      <button type="button">
        <%= link_to 'See this car', car_path(car), class: 'secondary-cta m-title' %>
      </button>
    </div>
  <% end %>
</div>
