<main>
  <section>
    <div class="banner" style="background-image: url(https://res.cloudinary.com/ddt8brfwz/image/upload/v1713278406/ruvim-noga-fyoGx76Cm7E-unsplash_itjsxu.jpg);">
      <div class="container">
        <h1><%= "#{@car.model.capitalize} - #{@car.brand.upcase}" %></h1>
        <p><%= @car.year_of_production %></p>
        <p><%= @car.nb_passenger %> Max. Passagers</p>
        <p><%= @car.description %> </p>
        <p><b><%= @car.price_per_day %></b>€ /par jour</p></p>
        <%= simple_form_for(@booking, url: car_bookings_path(@car)) do |f| %>
          <p class="fsize4" id="from-label"></p>
          <p class="fsize4" id="to-label"></p>
          <p class="fsize4" id="recap-label"></p>
          <%# Simple_form inputs, where Flatipickr will put the dates %>
          <%= f.input :start_date, as: :hidden, input_html: { placeholder: "Choisissez les dates", data: { controller: "datepicker" } } %>
          <%= f.submit 'Réservez-la!', class: 'btn btn-info' %>
        <% end %>
      </div>
      <div class="half-inputs-container show-button">
        <% if policy(@car).edit? %>
          <%= link_to 'Modifier', edit_car_path, class: 'btn btn-warning' %>
        <% end %>
        <% if policy(@car).destroy? %>
          <%= button_to 'Supprimer', car_path, method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </section>
</main>
